<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .table td, .table th {
    text-align: center;
}
.star {
        cursor: pointer;
        color: #333; /* Темний колір для обводки */
    }
    .star.filled {
        color: orange; /* Оранжевий колір для активної зірочки */
    }
    @keyframes spin {
        from {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
    }
    .rotate {
        animation: spin 0.5s ease-in-out;
    }
    @media (max-width: 768px) {
        .collapseContent {
            display: block; /* Або інші стилі для адаптації */
        }
    }

</style>
<script>
    function updateCollapseContent(index) {
        // Base64-decode and then parse the JSON string
        var encodedLocations = "<%= Buffer.from(JSON.stringify(locations)).toString('base64') %>";
        var locations = JSON.parse(atob(encodedLocations));
        var location = locations[index];
        
        var collapseContent = document.getElementById('collapseDetail').querySelector('.card-body');
        collapseContent.innerHTML = 'Назва: ' + location.name + '<br>' +
                                    'Країна: ' + location.country + '<br>' +
                                    'Мінімальна температура: ' + location.weather.main.temp_min + '°C<br>' +
                                    'Максимальна температура: ' + location.weather.main.temp_max + '°C';
        
        $('#collapseDetail').collapse('toggle');
    }
</script>
</head>
<body>
    <%- include('includes/navbar.ejs') %>

    <div class="container mt-5">
        <div class="row">
            <% locations.forEach(function(location, index) { %>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= location.name %>
                                <i class="far fa-star star"></i>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted"><%= location.state %>, <%= location.country %></h6>
                            <% if(location.weather.weather && location.weather.weather.length > 0) { %>
                                <img src="https://openweathermap.org/img/wn/<%= location.weather.weather[0].icon %>@2x.png"
                                     alt="<%= location.weather.weather[0].description %>"
                                     title="<%= location.weather.weather[0].main %>">
                            <% } %>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Min Temp</th>
                                        <th scope="col">Max Temp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><%= location.weather.main.temp_min %>°C</td>
                                        <td><%= location.weather.main.temp_max %>°C</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="cursor: pointer;" onclick="updateCollapseContent(<%= index %>)">
                                <i class="fas fa-chevron-down"></i> Деталі
                            </div>
                        </div>
                    </div>
                    
                </div>
            <% }); %>
        </div>
        <!-- Розгорнутий блок поза картками -->
    <div id="collapseDetail" class="collapse w-100">
        <div class="card card-body">
            Додаткова інформація тут...
        </div>
    </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    
    <script>
        $(document).ready(function(){
        $('body').on('click', '.star', function(){
            $(this).toggleClass('far fas filled rotate'); // Додає або видаляє класи для зміни іконки та анімації обертання
            setTimeout(() => $(this).removeClass('rotate'), 500); // Видаляє клас rotate після завершення анімації
        });
    });
    </script>
    </body>
    </html>